Repository openBackhaul/MicroWaveDeviceGatekeeper, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kmohr-soprasteria, @IswaryaaS, @PrathibaJee, @sunil-kumar-meena, @ManasaBM1

.github/CODEOWNERS:

@openBackhaul
          @kmohr-soprasteria

/testing/ @kmohr-soprasteria @IswaryaaS

/server/  @PrathibaJee @sunil-kumar-meena @ManasaBM1 @IswaryaaS

add fixes
  spec/MicroWaveDeviceGatekeeper+config.json
  spec/MicroWaveDeviceGatekeeper+services.yaml
Owners: none

Update to AppPattern 2.1.2 in main (#70)
  spec/MicroWaveDeviceGatekeeper+config.json
  spec/MicroWaveDeviceGatekeeper+forwardings.yaml
  spec/MicroWaveDeviceGatekeeper+profileInstances.yaml
  spec/MicroWaveDeviceGatekeeper+services.yaml
  spec/MicroWaveDeviceGatekeeper.yaml
  spec/README.md
Owners: none

updating Ap
  server/controllers/BasicServices.js
Owners: @PrathibaJee, @sunil-kumar-meena, @ManasaBM1, @IswaryaaS

updating new AP
  server/api/openapi.yaml
  server/controllers/BasicServices.js
  server/database/load.json
  server/package-lock.json
  server/package.json
  server/service/BasicServicesService.js
Owners: @PrathibaJee, @sunil-kumar-meena, @ManasaBM1, @IswaryaaS

adding forwarding name
  server/controllers/BasicServices.js
Owners: @PrathibaJee, @sunil-kumar-meena, @ManasaBM1, @IswaryaaS

updating NEW_RELEASE_FORWARDING_NAME
  server/controllers/BasicServices.js
Owners: @PrathibaJee, @sunil-kumar-meena, @ManasaBM1, @IswaryaaS

updating the AP to v2.1.2
  server/api/openapi.yaml
  server/controllers/BasicServices.js
  server/database/load.json
  server/package-lock.json
  server/package.json
  server/service/BasicServicesService.js
Owners: @PrathibaJee, @sunil-kumar-meena, @ManasaBM1, @IswaryaaS

updating AP v2.1.2
  server/api/openapi.yaml
  server/controllers/BasicServices.js
  server/database/load.json
  server/package-lock.json
  server/package.json
  server/service/BasicServicesService.js
Owners: @PrathibaJee, @sunil-kumar-meena, @ManasaBM1, @IswaryaaS

updating the AP
  server/api/openapi.yaml
  server/controllers/BasicServices.js
  server/database/load.json
  server/package-lock.json
  server/package.json
  server/service/BasicServicesService.js
Owners: @PrathibaJee, @sunil-kumar-meena, @ManasaBM1, @IswaryaaS

Add test for completeness
  testing/1_integration/README.md
  testing/2_functional/MicroWaveDeviceGatekeeper+test.functional.index.json
  testing/2_functional/MicroWaveDeviceGatekeeper+test.functional.index.yaml
  testing/2_functional/README.md
  testing/2_functional/completeness/README.md
  testing/2_functional/completeness/diagrams/mwdg-completeness-components.plantuml
  testing/2_functional/completeness/diagrams/mwdg-completeness-components.png
  testing/2_functional/completeness/v1.0.2/diagrams/mwdg-completeness-sequence-I.plantuml
  testing/2_functional/completeness/v1.0.2/diagrams/mwdg-completeness-sequence-II.plantuml
  testing/2_functional/completeness/v1.0.2/diagrams/mwdg-completeness-sequence-i.png
  testing/2_functional/completeness/v1.0.2/diagrams/mwdg-completeness-sequence-ii.png
  testing/2_functional/completeness/v1.0.2/schema/MicroWaveDeviceGatekeeper+json.json
  testing/2_functional/completeness/v1.0.2/schema/MicroWaveDeviceGatekeeper+yaml.yaml
  testing/2_functional/completeness/v1.0.2/simulators/MicroWaveDeviceGatekeeper+simu.completeness.yaml
  testing/2_functional/completeness/v1.0.2/simulators/MicroWaveDeviceGatekeeper+simu.yaml
  testing/2_functional/completeness/v1.0.2/testcases/MicroWaveDeviceGatekeeper+data.completeness.json
  testing/2_functional/completeness/v1.0.2/testcases/MicroWaveDeviceGatekeeper+test.completeness.json
  testing/3_performance/README.md
  testing/4_preprod/README.md
  testing/5_foa/README.md
  testing/MicroWaveDeviceGatekeeper+data.json
  testing/README.md
  testing/pictures/241004_StructureOfTesting.png
Owners: @kmohr-soprasteria, @IswaryaaS

Update README.md
  testing/2_functional/README.md
Owners: @kmohr-soprasteria, @IswaryaaS

Update registration operation
  server/database/load.json
Owners: @PrathibaJee, @sunil-kumar-meena, @ManasaBM1, @IswaryaaS
