Repository openBackhaul/MicroWaveDeviceGatekeeper, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kmohr-soprasteria, @IswaryaaS, @PrathibaJee, @sunil-kumar-meena, @ManasaBM1

Remove path from fileName
  spec/MicroWaveDeviceGatekeeper+config.json
Owners: none

resolve include pacakge-lock.json file under a server folder Fixes #42
  server/package-lock.json
  server/package.json
Owners: @PrathibaJee, @sunil-kumar-meena, @ManasaBM1, @IswaryaaS

integrated BasicServices and ApplicationPattern to the server-side
  server/controllers/BasicServices.js
  server/package-lock.json
Owners: @PrathibaJee, @sunil-kumar-meena, @ManasaBM1, @IswaryaaS

resolve RestClient to interact with OpenDayLight controller Fixes #29
  server/application-data/encrypted-odl-key.json
  server/service/OpenDayLightAdapter/RESTClient.js
  server/service/individualServices/IndividualServiceUtility.js
  server/service/individualServices/ReadDataFromLive.js
Owners: @PrathibaJee, @sunil-kumar-meena, @ManasaBM1, @IswaryaaS

adding oneofthe PutOperationservice
  server/controllers/IndividualServices.js
  server/service/IndividualServicesService.js
  server/service/OpenDayLightAdapter/RESTClient.js
Owners: @PrathibaJee, @sunil-kumar-meena, @ManasaBM1, @IswaryaaS

rename the file and making the changes related to comments
  server/application-data/encrypted-odl-key.json
  server/controllers/IndividualServices.js
  server/service/IndividualServicesService.js
  server/service/OpenDayLightAdapter/RESTClient.js
  server/service/individualServices/ReadDataFromLive.js
  server/service/individualServices/WriteDataToLive.js
Owners: @PrathibaJee, @sunil-kumar-meena, @ManasaBM1, @IswaryaaS

resolving the comments
  server/service/IndividualServicesService.js
  server/service/OpenDayLightAdapter/RESTClient.js
Owners: @PrathibaJee, @sunil-kumar-meena, @ManasaBM1, @IswaryaaS

code structure modification.
  server/index.js
  server/service/IndividualServicesService.js
  server/service/OpenDayLightAdapter/ODLInterface.js
  server/service/individualServices/IndividualServiceUtility.js
  server/service/individualServices/WriteDataToLive.js
Owners: @PrathibaJee, @sunil-kumar-meena, @ManasaBM1, @IswaryaaS

removing the repeted values
  server/package.json
  server/service/IndividualServicesService.js
  server/service/OpenDayLightAdapter/ODLInterface.js
  server/service/OpenDayLightAdapter/RESTClient.js
  server/service/individualServices/IndividualServiceUtility.js
Owners: @PrathibaJee, @sunil-kumar-meena, @ManasaBM1, @IswaryaaS

adding errors
  server/service/IndividualServicesService.js
  server/service/OpenDayLightAdapter/ODLInterface.js
Owners: @PrathibaJee, @sunil-kumar-meena, @ManasaBM1, @IswaryaaS

Modifications in the ODL operations and restructuring of code.
  server/application-data/encrypted-odl-key.json
  server/database/load.json
  server/service/IndividualServicesService.js
  server/service/OpenDayLightAdapter/ODLInterface.js
  server/service/OpenDayLightAdapter/RESTClient.js
  server/service/OpenDayLightClient/ODLAuthentication.js
  server/service/OpenDayLightClient/ODLClient.js
  server/service/OpenDayLightClient/ODLOperations.js
  server/service/OpenDayLightClient/RESTUtility.js
  server/service/individualServices/IndividualServiceUtility.js
Owners: @PrathibaJee, @sunil-kumar-meena, @ManasaBM1, @IswaryaaS

implemented notification Proxy & cyclic process
  server/controllers/BasicServices.js
  server/service/OpenDayLightClient/ODLClient.js
  server/service/basicServices/cyclicProcess.js
  server/service/basicServices/notificationProxy.js
Owners: @PrathibaJee, @sunil-kumar-meena, @ManasaBM1, @IswaryaaS

Resolve To implement the PUT request to controller Fixes #24 Fixes #23
  server/controllers/IndividualServices.js
  server/service/IndividualServicesService.js
  server/service/OpenDayLightClient/ODLOperations.js
Owners: @PrathibaJee, @sunil-kumar-meena, @ManasaBM1, @IswaryaaS

resolve To authenticate the individual services with path parameters Fixes #28
  server/api/openapi.yaml
  server/index.js
  server/package-lock.json
  server/package.json
  server/utils/apiKeyAuth.js
Owners: @PrathibaJee, @sunil-kumar-meena, @ManasaBM1, @IswaryaaS

remoing the unused file-profile services Fixes #48
  server/controllers/FileProfile.js
  server/service/FileProfileService.js
Owners: @PrathibaJee, @sunil-kumar-meena, @ManasaBM1, @IswaryaaS

removed unused services
  server/controllers/FileProfile.js
  server/service/FileProfileService.js
Owners: @PrathibaJee, @sunil-kumar-meena, @ManasaBM1, @IswaryaaS

implemented cyclicProcess, NotificationProxy and provideListOfConnectedDevices
  server/controllers/BasicServices.js
  server/controllers/IndividualServices.js
  server/service/IndividualServicesService.js
  server/service/basicServices/cyclicProcess.js
Owners: @PrathibaJee, @sunil-kumar-meena, @ManasaBM1, @IswaryaaS

renaming the attribute
  server/service/IndividualServicesService.js
Owners: @PrathibaJee, @sunil-kumar-meena, @ManasaBM1, @IswaryaaS

including a latest pattern for file-profile
  server/api/openapi.yaml
Owners: @PrathibaJee, @sunil-kumar-meena, @ManasaBM1, @IswaryaaS

implemented bequeath-your-data-and-die
  server/controllers/IndividualServices.js
  server/service/IndividualServicesService.js
  server/service/individualServices/SoftwareUpgrade.js
Owners: @PrathibaJee, @sunil-kumar-meena, @ManasaBM1, @IswaryaaS

To implement a cyclic process to load the DeviceList From Controller Fixes #31
  server/controllers/BasicServices.js
  server/service/BasicServicesService.js
  server/service/OpenDayLightClient/ODLOperations.js
Owners: @PrathibaJee, @sunil-kumar-meena, @ManasaBM1, @IswaryaaS

implemented provideListOfConnectedDevices & added fieldsFilter to cyclic process url
  server/controllers/BasicServices.js
  server/controllers/IndividualServices.js
  server/service/IndividualServicesService.js
  server/service/OpenDayLightClient/ODLClient.js
Owners: @PrathibaJee, @sunil-kumar-meena, @ManasaBM1, @IswaryaaS

resolve To implement the service /v1/regard-controller-attribute-value-change Fixes #26
  server/controllers/IndividualServices.js
  server/service/IndividualServicesService.js
Owners: @PrathibaJee, @sunil-kumar-meena, @ManasaBM1, @IswaryaaS

changes in the software upgrade module.
  server/service/individualServices/SoftwareUpgrade.js
Owners: @PrathibaJee, @sunil-kumar-meena, @ManasaBM1, @IswaryaaS

changes to the regard attribute change.
  server/controllers/IndividualServices.js
  server/index.js
  server/service/IndividualServicesService.js
Owners: @PrathibaJee, @sunil-kumar-meena, @ManasaBM1, @IswaryaaS

To include null pointer check for the fields filter Fixes #55
  server/index.js
  server/service/IndividualServicesService.js
Owners: @PrathibaJee, @sunil-kumar-meena, @ManasaBM1, @IswaryaaS

Add docker file to create docker image Fixes #59
  server/dockerfile
Owners: @PrathibaJee, @sunil-kumar-meena, @ManasaBM1, @IswaryaaS

updated package-lock.json & node ver in dockerfile
  server/dockerfile
  server/package-lock.json
Owners: @PrathibaJee, @sunil-kumar-meena, @ManasaBM1, @IswaryaaS

Update MicroWaveDeviceGatekeeper+data.json
  testing/MicroWaveDeviceGatekeeper+data.json
Owners: @kmohr-soprasteria, @IswaryaaS

resolve adding a automative register-yourself to index file Fixes #63
  server/index.js
Owners: @PrathibaJee, @sunil-kumar-meena, @ManasaBM1, @IswaryaaS

To remove unused forwarding from the code Fixes #65
  server/controllers/BasicServices.js
  server/package-lock.json
  server/package.json
Owners: @PrathibaJee, @sunil-kumar-meena, @ManasaBM1, @IswaryaaS

add services to oas
  spec/MicroWaveDeviceGatekeeper+config.json
  spec/MicroWaveDeviceGatekeeper+forwardings.yaml
  spec/MicroWaveDeviceGatekeeper+services.yaml
  spec/MicroWaveDeviceGatekeeper.yaml
Owners: none

forwardings
  spec/MicroWaveDeviceGatekeeper+config.json
  spec/MicroWaveDeviceGatekeeper+forwardings.yaml
  spec/MicroWaveDeviceGatekeeper+services.yaml
Owners: none

configFile + readme
  spec/MicroWaveDeviceGatekeeper+config.json
  spec/MicroWaveDeviceGatekeeper+forwardings.yaml
  spec/MicroWaveDeviceGatekeeper+profileInstances.yaml
  spec/MicroWaveDeviceGatekeeper.yaml
  spec/README.md
Owners: none

uuids
  spec/MicroWaveDeviceGatekeeper.yaml
Owners: none

correct oas
  spec/MicroWaveDeviceGatekeeper.yaml
Owners: none

uuid fix
  spec/MicroWaveDeviceGatekeeper.yaml
Owners: none

uuid fix
  spec/MicroWaveDeviceGatekeeper.yaml
Owners: none

corrected releaseNumbers
  spec/MicroWaveDeviceGatekeeper+config.json
Owners: none

add responseProfiles
  spec/MicroWaveDeviceGatekeeper+config.json
  spec/MicroWaveDeviceGatekeeper+profileInstances.yaml
Owners: none

.github/CODEOWNERS:

@openBackhaul
          @kmohr-soprasteria

/testing/ @kmohr-soprasteria @IswaryaaS

/server/  @PrathibaJee @sunil-kumar-meena @ManasaBM1 @IswaryaaS
